.search-form {
  padding: 70px 70px 48px;
}

@media screen and (max-width: 768px) {
  .search-form {    
    padding: 80px 30px 60px;
  }
}

@media screen and (max-width: 376px) {
  .search-form {    
    padding: 84px 14px 50px;
  }
}