.portfolio__divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #424242;
}

@media screen and (max-width: 375px) {
  .portfolio__divider {
    margin: 19px 0;
    border-top: 1px solid #E6E6E6;
  }
}