.preloader__btn {
  margin: 0 auto 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  max-width: 320px;
  width: 100%;
  border: 1px solid #424242;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  transition: background-color .6s, box-shadow .1s ;
}

.preloader__btn:hover {
  background-color: #424242;
  box-shadow: 2px 2px 2px 2px rgb(19, 19, 19);

  cursor: pointer;
}

.preloader__btn:active {
  box-shadow: none;
}