.preloader__btn {
  margin: 0 auto 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  max-width: 320px;
  width: 100%;
  border: 1px solid #424242;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  transition: box-shadow .1s, border .3s ;
}

.preloader__btn:hover {
  box-shadow: 2px 2px 2px 3px rgb(19, 19, 19);
  border: 1px solid #fff;
  cursor: pointer;
}

.preloader__btn:active {
  box-shadow: none;
}

@media screen and (max-width: 375px) {
  .preloader__btn {    
    max-width: 240px;    
  }
}