.not-found__backpage {
  position: absolute; /* Добавлено для абсолютного позиционирования внутри .not-found */
  bottom: 30px; /* Отступ снизу 30 пикселей */
  text-decoration: none;
  display: inline-block;
  color: #4285F4;
  font-size: 14px;
  transition: .4s;
}

.not-found__backpage:hover {
  color: #3DDC84;  
}

@media screen and (max-width: 376px) {
  .not-found__backpage {
    font-size: 12px;
  }
}