.filterCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin: 32px 0 0;
}

@media screen and (max-width: 768px) {
  .filterCheckbox {
    flex-direction: row-reverse;
    margin: 29px 0 0;
  }
}

@media screen and (max-width: 376px) {
  .filterCheckbox {    
    justify-content: center;    
  }
}