.about-project {
  padding: 110px 70px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 375px) {
  .about-project {
    padding: 70px 18px;
  }
}
