.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "inter", "Arial", sans-serif;
  position: relative;
  max-width: 1280px;
  margin: auto;
}

/* @media screen and (max-width: 880px) {
  .page {
      padding: 0 19px 0;
  }
}
@media screen and (max-width: 600px) {
  .page {
      padding: 0;
  }
} */