.moviesCard__name {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  max-height: 26px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
