.register__link-container {
  margin: 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 376px) {
  .register__link-container {
    font-size: 12px;
  }
}